* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.clearfix:after,
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
input {
  font-size: 14px;
}
input:focus {
  outline: none;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

input,
textarea,
select {
  background: #f5f8f8;
  font-size: 16px;
  padding: 19px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}
input.text-field {
  width: 100%;
  height: 60px;
  border: 1px solid #e8ebed;
  border-radius: 5px;
  color: #34495e;
}

body {
  display: -webkit-box;
  display: flex;
}
main {
  width: 100%;
}
.left-sidebar {
  width: 111px;
  border-right: 1px solid #f6f6f6;
}
.left-sidebar #logo-place {
  height: 96px;
}
.left-sidebar ul {
  padding: 0;
}
.left-sidebar ul li {
  display: block;
  width: 100%;
  height: 46px;
  text-align: center;
  line-height: 39px;
  vertical-align: middle;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  position: relative;
}
.left-sidebar ul li.current {
  background: #f9fbfc;
}
.left-sidebar ul li::after,
.left-sidebar ul li:after {
  position: absolute;
  content: '';
  display: block;
  width: 0px;
  border-bottom: 1px solid #34495e;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}
.left-sidebar ul li.current::after,
.left-sidebar ul li.current:after,
.left-sidebar ul li:hover:after,
.left-sidebar ul li:hover::after {
  width: 84px;
}
.left-sidebar ul li a {
  display: block;
  height: 100%;
  color: #34495e;
}
.main-header {
  height: 71px;
  border-bottom: 1px solid #f6f6f6;
  background: #f9fbfc;
  display: table;
  width: 100%;
}
.main-header .search-block {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 88px;
}
.main-header .search-block div {
  position: relative;
}
.main-header .search-block div:after,
.main-header .search-block div::after {
  position: absolute;
  left: -34px;
  top: -3px;
  content: '';
  display: block;
  width: 25px;
  height: 24px;
  background: url(/public/images/sprite.png);
  background-position-y: -104px;
}
.main-header .search-block input[type="search"] {
  width: 100%;
  border: none;
  background: #f9fbfc;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.main-header .btn-block {
  width: 435px;
}
.main-header .btn-block > div {
  float: left;
  color: #34495e;
  padding: 0 17px;
  cursor: pointer;
  line-height: 70px;
  vertical-align: middle;
  position: relative;
}
.main-header .btn-block > div:before,
.main-header .btn-block > div::before {
  height: 41px;
  position: absolute;
  top: 14px;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  border-right: 1px solid #d2d7dc;
}
.main-header .btn-block .icon-i {
  background: url(/public/images/sprite.png) no-repeat;
  float: left;
  margin-right: 18px;
}
.main-header .btn-block .add-order-i {
  width: 23px;
  height: 23px;
  margin-top: 24px;
}
.main-header .btn-block .filter-i {
  width: 23px;
  height: 20px;
  margin-top: 25px;
  background-position-y: -33px;
}
.main-header .btn-block .person-i {
  width: 33px;
  height: 33px;
  margin-top: 19px;
  background-position-y: -64px;
}
#content {
  padding: 28px;
}
#content .table-container {
  border: 1px solid rgba(52, 73, 94, 0.1);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}
#content .table-container table {
  width: 100%;
  border-spacing: 0;
  border-color: rgba(52, 73, 94, 0.1);
  border-collapse: collapse;
  border: none;
}
#content .table-container table thead {
  color: #808b96;
  font-size: 10px;
  text-transform: uppercase;
}
#content .table-container table thead tr,
#content .table-container table thead td {
  border-top: none;
}
#content .table-container table tr:last-child td {
  border-bottom: none;
}
#content .table-container table tr td {
  padding: 10px;
  border-color: rgba(52, 73, 94, 0.1);
}
#content .table-container table tr td:first-child {
  border-left: none;
}
#content .table-container table tr td:last-child {
  border-right: none;
}
#content .new-order-section .left-part {
  width: 30%;
}
#content .new-order-section .right-part {
  width: 70%;
  padding-left: 20px;
}
#content .new-order-section .right-part .add-field {
  padding-top: 15px;
  padding-left: 15px;
}
#content .new-order-section .right-part .add-field i {
  display: block;
  width: 25px;
  height: 25px;
  background: url(/public/images/sprite.png) no-repeat;
  background-position-y: -135px;
}
#content .new-order-section .right-part .rm-field {
  float: left;
}
#content .new-order-section .right-part ul {
  padding: 0;
}
#content .new-order-section .right-part .list-item div {
  border: 1px solid rgba(52, 73, 94, 0.1);
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
}
#content .new-order-section .right-part .list-item div.name-field {
  text-align: left;
}
#content .new-order-section .right-part .parts-section .name-field,
#content .new-order-section .right-part .parts-section .number-field,
#content .new-order-section .right-part .parts-section .icost-field,
#content .new-order-section .right-part .parts-section .ocost-field,
#content .new-order-section .right-part .parts-section .add-field {
  float: left;
  padding-right: 10px;
}
#content .new-order-section .right-part .parts-section .name-field {
  width: 30%;
}
#content .new-order-section .right-part .parts-section .number-field,
#content .new-order-section .right-part .parts-section .icost-field,
#content .new-order-section .right-part .parts-section .ocost-field {
  width: 22%;
}
#content .new-order-section .right-part .parts-section .number-field input,
#content .new-order-section .right-part .parts-section .icost-field input,
#content .new-order-section .right-part .parts-section .ocost-field input {
  text-align: right;
}
#content .new-order-section .right-part .parts-section .add-field {
  width: 4%;
  padding-right: 0;
}
#content .new-order-section .right-part .jobs-section .name-field,
#content .new-order-section .right-part .jobs-section .number-field,
#content .new-order-section .right-part .jobs-section .cost-field,
#content .new-order-section .right-part .jobs-section .add-field {
  float: left;
  padding-right: 10px;
}
#content .new-order-section .right-part .jobs-section .name-field,
#content .new-order-section .right-part .jobs-section .number-field,
#content .new-order-section .right-part .jobs-section .cost-field {
  width: 32%;
}
#content .new-order-section .right-part .jobs-section .number-field input,
#content .new-order-section .right-part .jobs-section .cost-field input {
  text-align: right;
}
#content .new-order-section .right-part .jobs-section .add-field {
  width: 3%;
  padding-right: 0;
}
#content .pagination {
  padding: 0;
  margin: 25px 0;
}
#content .pagination li {
  display: block;
  float: left;
  height: 30px;
  width: 40px;
  border: 1px solid rgba(52, 73, 94, 0.2);
  color: #2c3e50;
  padding-top: 4px;
  margin-right: 2px;
}
#content .pagination li:first-child {
  padding-top: 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
}
#content .pagination li:last-child {
  padding-top: 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}
#content .pagination li a {
  color: #2c3e50;
  display: block;
  text-align: center;
}
#content .pagination li.disable {
  border: 1px solid rgba(249, 251, 252, 0.8);
}

/*# sourceMappingURL=app.css.map */
